.loading-screen{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color : red;
    z-index : 10;
    height: 100%;
    width: 100%;
    /* animation: fadeOutLoadingScreen 2s ease-in 2s forwards; */
    overflow: hidden;
}

@keyframes fadeOutLoadingScreen {
    from {opacity: 1;}
    to {opacity: 0; display: none;}
}

.logo{
}