.card-group {
    position: absolute;
    top: 50%;
    right: 40%;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@keyframes show-card1 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-180%);
    }


    74%{
        background-image: url('../../media/card-logo.png');
        transform: translateX(-180%) rotateY(90deg);
    }
    75% {
        background-image: none;
        transform: translateX(-180%) rotateY(90deg);
    }

    100% {
        background-image: none;
        transform: translateX(-180%) rotateY(0deg);
    }
}

@keyframes show-card2 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-60%);
    }
    
    
    74%{
        background-image: url('../../media/card-logo.png');
        transform: translateX(-60%) rotateY(90deg);
    }
    75% {
        background-image: none;
        transform: translateX(-60%) rotateY(90deg);
    }

    100% {
        background-image: none;
        transform: translateX(-60%) rotateY(0deg);
    }
}

@keyframes show-card3 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(60%);
    }

    
    74%{
        background-image: url('../../media/card-logo.png');
        transform: translateX(60%) rotateY(90deg);
    }
    75% {
        background-image: none;
        transform: translateX(60%) rotateY(90deg);
    }

    100% {
        background-image: none;
        transform: translateX(60%) rotateY(0deg);
    }
}

@keyframes show-card4 {
    0% {
        background-image: url('../../media/card-logo.png');
        transform: translateX(0);
    }

    50% {
        background-image: url('../../media/card-logo.png');
        transform: translateX(180%);
    }

    74%{
        background-image: url('../../media/card-logo.png');
        transform: translateX(180%) rotateY(90deg);
    }
    75% {
        background-image: none;
        transform: translateX(180%) rotateY(90deg);
    }

    100% {
        background-image: none;
        transform: translateX(180%) rotateY(0deg);
    }
}

@keyframes show-card-content {
    0%{
        visibility: hidden;
    }

    74%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: visible;
    }
}



.card-group>.card-master:nth-child(1) {
    /* transform: translateX(-50%) translateY(5%) rotate(-7deg); */
    background-image: url('../../media/card-logo.png');
    animation: show-card1 linear forwards;
    animation-timeline: scroll();
}

.card-group>.card-master:nth-child(2) {
    background-image: url('../../media/card-logo.png');
    animation: show-card2 linear forwards;
    animation-timeline: scroll();
}

.card-group>.card-master:nth-child(3) {
    background-image: url('../../media/card-logo.png');
    animation: show-card3 linear forwards;
    animation-timeline: scroll();
}

.card-group>.card-master:nth-child(4) {
    background-image: url('../../media/card-logo.png');
    animation: show-card4 linear forwards;
    animation-timeline: scroll();
}

.card-group>.card-master>.card-content-container{
    animation: show-card-content linear forwards;
    animation-timeline: scroll();
}