

.card-master {
    display: flex;
    position: absolute;
    height: 449px;
    width: 296px;
    background-color: whitesmoke;
    border-radius: 20px;
    font-family: var(--fonts-softSans);
}

.card-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    margin: 5%;
}
