.text-anim-master{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index : 10;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.text-anim-background{
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
}

.text-anim-content{
    position: absolute;
    right: auto;
    top: auto;
}