.text-anim-master{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 2;
    animation: hide-text var(--hide-text-caroussel) ease-out var(--delay-fade) forwards ;
}

.text-anim-background{
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.text-anim-content{
    position: absolute;
    right: auto;
    top: 30%;
    width: 100%;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    flex-direction: row ;
    height: fit-content;
    align-items: center;
    overflow: hidden;
    align-items: flex-start;
}

.text-viewBox{
    min-width: 200px;
    max-width: 30%;
    height: 40px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.315);
    overflow: hidden;
    margin-left: 1rem;
    scroll-behavior: smooth;
}

.text-to-show {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.text-to-show h1 {
    margin-top: 0px;
}

@keyframes hide-text {
    from {opacity: 1; display: flex;}
    to {opacity: 0; display : none}
}