#logo {
    stroke-dasharray: 4092;
    animation: logo-appear var(--logo-appear) linear var(--delay-appear) forwards;
    width: 100vh;
    visibility: hidden;
}


@keyframes logo-appear {
    from {
        stroke-dashoffset: 4092;
        visibility: visible;
    }

    to {
        stroke-dashoffset: 0;
        visibility: visible;
    }

}