.home-master{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    animation: appearAfterLoading 1ms ease 10s forwards;
}

@keyframes appearAfterLoading {
    from {
       height: 100vh;
    }
    to {
        height: 100%;
    }
}
